<?xml version="1.0" ?>
<model>
    <name>Cold_Gas_Thruster</name>
    <version>0.4</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Antariksh Narain</name>
        <email>antariksh.cloud@gmail.com</email>
    </author>
    <description>Model of ACS Cold Gas Thrusters</description>
</model>
