build
install
log
.vscode
*.tar.gz
ArtemisLeapFrog.wiki
__pycache__
# Dynamic build files
*.so
*.o
dev/vehicle/scripts/custom_scripts.list
dev/vehicle/scripts/*.script

dev/test/StaticHotFire/GroundStation/GroundStation
dev/test/StaticHotFire/GroundStation/GST
raspi_files/*
dev/vehicle_logs/*
