<?xml version="1.0" ?>
<model>
    <name>lander_cad</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Garrett Gibo</name>
        <email>ggibo@ucsd.edu</email>
    </author>
    <description>LEAPFROG Lander for SERC at USC x NASA Artemis Project</description>
</model>
