<?xml version="1.0" ?>
<model>
    <name>linear_actuator</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Garrett Gibo</name>
        <email>ggibo@ucsd.edu</email>
    </author>
    <description>A simplified version of the windynation LIN-ACT1-04 linar actuator</description>
</model>
