<?xml version="1.0" ?>
<model>
    <name>Leapfrog_Vehicle</name>
    <version>0.3</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Antariksh Narain</name>
        <email>antariksh.cloud@gmail.com</email>
    </author>
    <description>A simple model of Leapfrog Vehicle</description>
</model>
